*{
    margin: 0%;
    padding: 0%;
}
#head h1{
    background-color: black;
    color: transparent;
    text-align: center;
    padding: 10px;
    font-size: 50px;
    -webkit-text-stroke: 2px red;
}
#head #nav{
    background-color: black;
}
.btn{
    border: none;
    font-size: 25px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: black;
    color: white;
    cursor: pointer;
}
.btn:hover{
    color: gray;
}
#teams img{
    width: 500px;
}
#teams{
    text-align: center;
    padding-top: 150px;
}
#teams h1{
    font-size: 50px;
}
#teams h2{
    font-size: 40px;
}
#players{
    display: flex;
    flex-wrap: wrap;
}
.details{
    width: 250px;
    padding: 20px;
    text-align: center;
    margin: 20px;
}
.details a{
    text-decoration: none;
}
.details img{
    width: 200px;
}
#overlay{
    position: fixed;
    background-color: black;
    width: 100%;
    height: 100%;
    top: 0%;
    opacity: 0.8;
    z-index: 1;
    display: none;
}
#popup{
    position: fixed;
    z-index: 2;
    display: none;
    top: 20%;
    left: 25%;
    text-align: center;
    background-color: black;
    color: white;
    /* width: 700px; */
    padding: 20px;
    gap: 20px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
#flex table{
    text-align: left;
}
#flex th{
    font-size: 30px;
    padding-right: 10px;
}
#flex td{
    font-size: 25px;
    color: gray;
}
#flex img{
    width: 250px;
    height: 250px;
    padding: 10px;
}
#flex{
    display: flex;
}
.close{
    margin-left: 90%;
    color: red;
    font-size: 20px;
    background-color: black;
    border: none;
    cursor: pointer;
    padding: 5px;
}
#flex tr{
    padding-top: 10px;
}
.close:hover{
    background-color: white;
}
#head{
    position: fixed;
    width: 100%;
    z-index: 1;
}
#title{
    padding-top: 150px;
    text-align: center;
    color: red;
    font-family: sans-serif;
}
#title h1{
    font-size: 50px;
}
#title h3{
    font-size:30px ;
}
#table{
    display: none;
    font-family: sans-serif;
    padding: 20px;
    font-size: 20px ;
    border: 2px solid black;
    margin: 50px 150px;
    border-collapse: collapse;
}
#table th{
    text-align: center;
    font-size: 30px;
}
#table h3{
    font-size: 25px;
}
#table h4{
    font-size: 23px;
}
#table a{
    font-size: 17px;
}
#table td{
    padding: 10px;
    border-bottom: 2px solid black;
}
#color{
    background-color: black;
    color: red;
}
.th{
    padding-left: 40px;
    padding-right: 40px;
}
#table .mat{
    padding-left: 100px;
}
#nav-bar{
    display: none;
    padding-top: 120px;
    background-color: red;
    position: fixed;
    width: 100%;
    z-index: 0;
}
#nav-bar button{
    padding: 5px 10px;
    font-size: 20px;
    background-color: red;
    border: none;
    cursor: pointer;
}
#squad{
    display: flex;
    padding-top: 10%;
    padding-top: 15%;
}
#squad-1{
    padding-left: 15%;
    padding-right: 15%;
    text-align: center;
    border-right: 2px solid black ;
}
#squad-2{
    padding-right: 15%;
    padding-left: 15%;
    text-align: center;
    border-left: 2px solid black;
}
#squad-1 img{
    border-radius: 50%;
    border: 1px solid black;
    width: 200px;
}
#squad-2 img{
    border-radius: 50%;
    border: 1px solid black;
    width: 200px;
}
.pl{
    padding: 20px;
}
#squad-1 h3{
    color: red;
}
#squad-2 h3{
    color: red;
}
#squad h1{
    font-size: 35px;
    padding: 30px;
}
#point-table-div{
    display: none;
    padding-top: 150px;
}
#point-table{
    margin-left: 25%;
    margin-right: 28%;
    margin-bottom: 5%;
    text-align: center;
    border-collapse: collapse;
}
#point-table th{
    font-size: 30px;
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;   
    background-color: red;
}
#point-table td{
    padding: 10px;
    background-color: #000000;
    color: white;
    border-bottom: 2px solid white;
}
.td h4{
    color: red;
}
.td img{
    border-radius: 10px;
}
#score-card{
    padding-top: 150px;
    display: none;
    margin-left: 20%;
    margin-right: 20%;
}
.team-table th{
    font-size: 25px;
    background-color: red;
    padding-left: 10px;
    padding-right: 10px;
}
.team-table td{
    font-size: 20px;
    background-color: #000000;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.team-table{
    margin-top:50px ;
    margin-bottom: 50px;
}
/* .team-table h1{
    background-color: gray;
} */
#team-1{
    border-collapse: collapse;
}
#team-2{
    border-collapse: collapse;
}
/* #body-div{
    padding-top: 100px;
}
#body-div h3{
    text-align: center;
    font-size: 30px;
    font-family: Oswald;
} */
#parent{
    padding-top: 150px;
}
#parent h1{
    text-align: center;
    font-family: Oswald;
    color: red;
}
.flag{
    width: 300px;
    margin: 40px;
    text-align: center;
    padding: 20px;
}
.flag button{
    border-radius: 30px;
    border: none;
    background-color: white;
    cursor: pointer;
}
.flag img{
    border-radius: 30px;
    width: 300px;
    height: 175px;
    box-shadow: 5px 5px 5px black;
}
#child{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.flag img:hover{
    box-shadow: -5px -5px 5px black;
}
#teams{
    display: none;
}
#title{
    display: none;
}
#squad{
    display: none;
}
#nav{
    display: none;
}
#error-overlay{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0%;
    background-color: #000000;
    opacity: 0.8;
    z-index: 3;
    display: none;
}
#error-popup{
    position: fixed;
    background-color: #000000;
    z-index: 4;
    top: 20%;
    left: 35%;
    color: #ffffff;
    padding: 20px;
    width: 400px;
    display: none;
}
form label{
    font-size: 40px;
    margin: 10px;
}
#error{
    width: 370px;
    height: 25px;
    margin: 10px;
    font-size: 20px;
}
#submit{
    float: right;
    width: 35px;
    font-size: 20px;
    margin: 10px;
}
#error-popup a{
    margin: 10px;
}
#error-popup p{
    font-size: 25px;
    color: red;
    margin: 10px;
    max-width: 400px;
    min-width: 100px;
}
